[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
# Shinto is a library/package so aditional packages should be installed in setup.py
setuptools = ">=70.2.0"
shinto = {path= ".", editable=true} # editable=true is the same as python setup.py develop

[dev-packages]
ruff = ">=0.5.4"
nose2 = {extras = ["coverage_plugin"], version = ">=0.15.1"}

[requires]
python_version = "3"
